body {
  margin-top: 0px;
  font-size: 20px;
}

.page-centre {
  position: relative;
  margin:0 auto;
}

.app-width {
  width: 500px;
}

@media (min-width: 850px) {
  .app-width {
    width: 800px;
  }
}

h1 {
  text-align: center;
}

#status {
  margin: 0px;
  float: left;
  width: 50%;
}

#help {
  float: right;
  width: 50%;
  text-align: right;
}

.top-space {
  margin-top: 16px;
}

.options {
  width: 464px;
}

@media (min-width: 850px) {
  .options {
    width: 764px;
  }
}

.textbox-input-font-size {
  font-size: 20px;
}

.textbox-input-width {
  width: 492px;
}

@media (min-width: 850px) {
  .textbox-input-width {
    width: 792px;
  }
}

.checkbox-bottom-pad {
  padding-bottom: 10px;
}

input[type="checkbox"] {
  transform: scale(1.7);
  margin: 10px;
}

button {
  font-size: 20px;
  padding: 10px;
  width: 100%;
}

textarea {
  resize: none;
  font-size: 14px;
  word-break: break-all;
}

.textarea-width {
  width: 494px;
}

@media (min-width: 850px) {
  .textarea-width {
    width: 794px;
  }
}

.download-list {
padding-bottom: 10px;
}

#overlay {
  padding: 20px;
  position: absolute;
  top: 60px;
  z-index: 2;
  cursor: pointer;
  background: white;
  border-style: solid;
  cursor: auto;
  display: none;
}

#close-button {
  position: absolute;
  top: 0px;
  right: 30px;
  z-index: 3;
  font-size: 32px;
  cursor: pointer;
}

.overlay-title {
  font-weight: bold;
  font-size: 24px;
}

.overlay-space {
  padding-top: 10px;
}

ul {
  width: 440px;
}

@media (min-width: 850px) {
  ul {
    width: 740px;
  }
}
