<!doctype html>
<html>
  <head>
    <title>YT Audio Downloader</title>
    <style>
      textarea {
        resize: none;
      }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.min.js" integrity="sha512-8ExARjWWkIllMlNzVg7JKq9RKWPlJABQUNq6YvAjE/HobctjH/NA+bSiDMDvouBVjp4Wwnf1VP1OEv7Zgjtuxw==" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>YT Audio Downloader</h1>
    <p id="status"></p>
    <form id="url-submit">
      <label for="yt-url">URL:</label>
      <input type="text" id="yt-url" name="yt-url">
      <button id="submit_button" type="submit">Submit</button>
    </form>
    <textarea
      id="log"
      name="log"
      rows="30"
      cols="120"
      readonly></textarea>
    <ul id="downloads">
    </ul>
    <script type="text/javascript">
      const socket = io();

      socket.on('connect', () => {
        const status = document.getElementById('status');
        status.innerText = 'Status: Connected';
      });

      socket.on('disconnect', () => {
        const status = document.getElementById('status');
        status.innerText = 'Status: Reconnecting';
      })

      socket.on('get_session_id', () => {
        let session_id = null;
        if (sessionStorage.getItem('session_id')) {
          session_id = sessionStorage.getItem('session_id');
        }
        socket.emit('get_session_id_resp', session_id);
      });

      socket.on('set_session_id', (session_id) => {
        sessionStorage.setItem('session_id', session_id);
      });

      const form = document.getElementById('url-submit');
      const textinput = document.getElementById('yt-url');
      form.addEventListener('submit', (event) => {
        event.preventDefault();
        socket.emit('submit', textinput.value);
        const submit_button = document.getElementById('submit_button');
        submit_button.disabled = true;
      });

      socket.on('log', (msg) => {
        const log = document.getElementById('log');
        if (log.value === '') {
          log.value = msg;
          return;
        }

        const progress_rgx = /^\[download\]\s+[0-9]+(\.[0-9]+)?% of.*$/;
        let lines = log.value.split('\n');
        let overwrite_progress = false;
        if (msg.match(progress_rgx)) {
          if (lines[lines.length-1].match(progress_rgx)) {
            lines[lines.length-1] = msg;
            overwrite_progress = true;
          }
        }
        if (!overwrite_progress) {
          lines.push(msg);
        }

        log.value = lines.join('\n');
        log.scrollTop = log.scrollHeight;
      });

      socket.on('list_downloads', (links) => {
        const submit_button = document.getElementById('submit_button');
        submit_button.disabled = false;

        links.forEach((link) => {
          const download_link = document.createElement('a');
          download_link.setAttribute('href', link.path);
          download_link.setAttribute('download', '');
          download_link.innerText = link.filename;

          const download_item = document.createElement('li');
          download_item.appendChild(download_link);

          const downloads = document.getElementById('downloads');
          downloads.appendChild(download_item);
        });
      });
    </script>
  </body>
</html>
